body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#quiz-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px rgba(18, 0, 147, 0.1);
    padding: 20px;
}

.question {
    display: none;
}

h2 {
    color: #000000;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    border: 2px solid #ba4bf1; 
    padding: 10px;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

#results {
    text-align: center;
    margin-top: 20px;
}

#score {
    font-size: 18px;
    font-weight: bold;
}
